*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Raleway", sans-serif;
}
/*general*/
body{
    background: rgb(176,27,255);
    background: linear-gradient(90deg, rgba(165, 143, 245, 0.5) 38%, rgba(99, 255, 195, 0.6) 100%);
}
h2{
    background-color: #513fb8; 
    color: white;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    font-weight: normal;
}
.container {
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-top: 80px !important;
    margin-bottom: 50px !important;
    padding-bottom: 20px;
    border-radius: 5px;
    margin: auto;
    width: 60%;
    font-family: Arial, sans-serif;
    box-shadow: -1px 0px 31px 0px rgba(55,8,64,0.38);
}
/*FAQ section*/
.answer {
    display: none;
}
.faq-container{
    margin: 20px 90px 20px 90px;
}
.faq{
    margin: 20px;
    background-color: #998beb43;
    border-radius: 5px;
}
.faq h3 {
    cursor: pointer;
    color: rgb(85, 55, 94);
    padding: 10px;
    font-weight: normal;
}
.faq p {
    cursor: pointer;
    color: rgb(129, 96, 139);
    padding: 5px 120px 20px 120px;
    font-weight: lighter;
}
.faq.active .toggle {
    content: "-";
}

.card {
    margin-top: 20px;
    padding: 20px;
    display: none;
}
/*form and button*/
input, button {
    margin: 7px;
    padding: 7px;
    border-radius: 5px;
}
button {
    cursor: pointer;
    background-color: #1d956b;
    color:#eafff9;
    font-weight: 400;
    border: none;
}
button:hover {
    background-color: #9de2d3;
    color: #1d956f;
}
/*scorecard result style*/
.scorecard-report {
    padding: 20px;
    border-radius: 0 0 5px 5px;
    padding-bottom: 20px;
}
.score {
    font-size: 48px;
    font-weight: bold;
    color: #4c1d95;
}
.check-name {
    font-weight: bold;
    color: #333;
}
.check-score {
    font-weight: bold;
    margin-left: 10px;
    color: #4c1d95;
}
.score-bar-container {
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}
.score-bar {
    height: 20px;
    border-radius: 5px;
}
/*rada chart styles*/
.radar-chart-container {
    width: 50%;
    height: 50%;
    margin: 5px auto; 
}
.radar-chart-container canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
}
/*media queries*/
@media (max-width: 1000px) {
    .container {
        width: 80%;
    }
    .radar-chart-container {
        width: 90%;
        height: 90%;
        margin: 5px auto; 
    }
    .faq-container{
        margin: 20px 30px 20px 30px;
    }
    .faq p {
        cursor: pointer;
        color: rgb(129, 96, 139);
        padding: 5px 10px 5px 10px;
    }
}
@media (max-width: 600px) {
    .radar-chart-container {
        width: 90%;
        height: 90%;
        margin: 5px auto; 
    }
    .faq-container{
        margin: 20px 30px 20px 30px;
    }
    .faq p {
        cursor: pointer;
        color: rgb(129, 96, 139);
        padding: 5px 10px 5px 10px;
    }
}